@model IEnumerable<MVC_EF.Models.Product>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Id)</th>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Price)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var Product in Model)
    {
        <tr>
            <td>@Product.Id</td>
            <td>@Product.Name</td>
            <td>@Product.Price</td>
            <td>
                <a asp-action="Edit" asp-route-id="@Product.Id" class="btn btn-primary btn-sm">Edit</a>

                <form asp-controller="Product" asp-action="Delete" asp-route-id="@Product.Id" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm" 
                        onclick="return confirm('Are you sure you want to delete this product?');">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<br>
<a asp-action="Create">Create Product</a>